#abtme{
font-family: Lucida Console;
text-align: center;
padding-left: 10%;
padding-right: 10%;
}
#nikaspicture{
border-radius: 50%;
}
table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
}
#top{
padding-left: 2%;
}
body{
background-color:;
}
.mainname{
background-color:;
color: ;
padding-top: %;
padding-bottom: %;
font-size: 100%;
text-align: ;
font-family: Lucida Console;
padding-left: %;
}
.secondarytext{
padding-top: %;
padding-bottom: %;
font-size: 150%;
text-align: ;
font-family: Lucida Console;
}
.logo{
padding-left:;
}
#toptable{
}