
#abtme{
font-family: Arial;
text-align: center;
margin-right: 7%;
margin-left: 7%;
}

#nikaspicture{
border-radius: 50%;
}

table {
width: 95%;
}

.mainname{
font-size: 300%;
font-family: Lucida Console;
}

.links{
font-size: 150%;
}
